<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4b79ffa-1f58-4794-85f5-e947f15e8a3a" Alias="advisor.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/advisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T08:43:31</CreateDate>
    <NodeName Default="advisor.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/barbkrsd/advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>