<?xml version="1.0" encoding="utf-8"?>
<Media Key="69d4218d-bff9-4274-949d-b026fa8c2c85" Alias="audits.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/auditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T08:43:31</CreateDate>
    <NodeName Default="audits.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p4ohnc5c/audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>