<?xml version="1.0" encoding="utf-8"?>
<Media Key="45ac32f6-786b-43af-8a09-8da79a17208c" Alias="bg-support.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bgSupportsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T11:01:13</CreateDate>
    <NodeName Default="bg-support.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ashb3j1q/bg-support.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>