<?xml version="1.0" encoding="utf-8"?>
<Media Key="1819e4c2-bd7c-46f4-9680-989f702c4f33" Alias="bonds-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bondsImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:47:08</CreateDate>
    <NodeName Default="bonds-img.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gbmlx4th/bonds-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>