<?xml version="1.0" encoding="utf-8"?>
<Media Key="508143cc-4634-4856-a2ae-739bf7a29d17" Alias="contact-person.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contactPersonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T11:17:35</CreateDate>
    <NodeName Default="contact-person.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h15chmrp/contact-person.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>