<?xml version="1.0" encoding="utf-8"?>
<Media Key="db4ede87-be32-4d65-9910-daf3834586ed" Alias="dot-map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T15:30:18</CreateDate>
    <NodeName Default="dot-map.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ovrpyojj/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>