<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfb4b576-1cc6-4e37-bd9b-94ede98c2696" Alias="Img-1 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img11svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T15:11:18</CreateDate>
    <NodeName Default="Img-1 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qqebmlo3/img-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>