<?xml version="1.0" encoding="utf-8"?>
<Media Key="675f1965-1ce9-428f-bfe2-2b9c39fb38a9" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T13:32:28</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s4sp1bps/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>