<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7fbe8bd-0c58-4112-98cb-e0a0b6b6c61b" Alias="logotype6.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logotype6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T10:38:50</CreateDate>
    <NodeName Default="logotype6.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j3kfsvkd/logotype6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>