<?xml version="1.0" encoding="utf-8"?>
<Media Key="23ba4088-bde4-4387-8245-7f27fca269d2" Alias="logotype5.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logotype5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T10:38:51</CreateDate>
    <NodeName Default="logotype5.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pl4brqp5/logotype5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>