<?xml version="1.0" encoding="utf-8"?>
<Media Key="728cb4fe-55d8-40b7-be13-5e68ba8451ae" Alias="logotype4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logotype4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T10:38:50</CreateDate>
    <NodeName Default="logotype4.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bqed3egd/logotype4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>