<?xml version="1.0" encoding="utf-8"?>
<Media Key="613d415b-beda-44bf-9ee5-ff4bacaebd08" Alias="logotyp2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logotyp2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:17:55</CreateDate>
    <NodeName Default="logotyp2.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vh4j5a4b/logotyp2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>