<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6fc4d27-1a1a-47ec-b8ee-c75822454587" Alias="logotype3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logotype3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T10:38:50</CreateDate>
    <NodeName Default="logotype3.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0xyf2vab/logotype3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>