<?xml version="1.0" encoding="utf-8"?>
<Media Key="58cd390f-5f45-48ce-9ebd-d6bfc260429d" Alias="logotyp1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logotyp1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:17:55</CreateDate>
    <NodeName Default="logotyp1.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5wcg5os4/logotyp1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>