<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5dd8019-2747-46eb-bf3e-759cdb673e77" Alias="main-hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mainHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T18:18:37</CreateDate>
    <NodeName Default="main-hero.svg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3m4h4n02/main-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>