<?xml version="1.0" encoding="utf-8"?>
<Media Key="711e1f95-61f0-4e94-af9e-9fe0223844d9" Alias="main-hero1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mainHero1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T18:19:45</CreateDate>
    <NodeName Default="main-hero1.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m4rlze5l/main-hero1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>