<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0fd2de3-955d-46a6-85ee-28d02effa99d" Alias="map-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mapImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:50:15</CreateDate>
    <NodeName Default="map-img.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cgif4esg/map-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>