<?xml version="1.0" encoding="utf-8"?>
<Media Key="a737854e-f2f1-4add-bcfe-3697a2d4cf56" Alias="map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:05:24</CreateDate>
    <NodeName Default="map.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xq2jkrpk/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>