<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1081816-e8f8-490a-a466-3df019b1276e" Alias="risk-img2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/riskImg2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T13:48:40</CreateDate>
    <NodeName Default="risk-img2.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2ssluu5d/risk-img2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>