<?xml version="1.0" encoding="utf-8"?>
<Media Key="de283f96-6c92-4e67-abb8-dfed8d18c953" Alias="risk-mgm-image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/riskMgmImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:39:15</CreateDate>
    <NodeName Default="risk-mgm-image.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/msbiupej/risk-mgm-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>