<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e04819b-4ec6-4b24-ac10-5f8b36199997" Alias="statistics.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/statisticssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T08:43:31</CreateDate>
    <NodeName Default="statistics.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ne4km1g3/statistics.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>