<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ff34caf-2266-42b6-a7d8-f73dea638e81" Alias="taxes.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/taxessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T08:43:31</CreateDate>
    <NodeName Default="taxes.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lxyfdxl3/taxes.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>