<?xml version="1.0" encoding="utf-8"?>
<Media Key="53f7e454-b345-4747-837d-7fd0018d9227" Alias="team-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:36:40</CreateDate>
    <NodeName Default="team-gardner.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uzmflmk4/team-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>