<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe9d693a-93ff-4f3a-9c3f-9c05fc9e4c0c" Alias="team-carter.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:36:40</CreateDate>
    <NodeName Default="team-carter.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zdkd4hhe/team-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>