<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e555a8e-e77b-4058-a79c-03b8430885b5" Alias="team-kerr.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:36:41</CreateDate>
    <NodeName Default="team-kerr.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pttppxda/team-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>