<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a412518-f720-4087-8b0f-188f7426b8b1" Alias="team-dayton.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:36:40</CreateDate>
    <NodeName Default="team-dayton.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3kmohkb1/team-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>