<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e783558-8b52-42ae-b5e8-465db62e23db" Alias="team-lambart.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamLambartsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:36:40</CreateDate>
    <NodeName Default="team-lambart.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vkenvdcj/team-lambart.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>