<?xml version="1.0" encoding="utf-8"?>
<Media Key="505851d8-3024-497c-9e21-17ae10dcd717" Alias="team-fox.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:36:39</CreateDate>
    <NodeName Default="team-fox.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/flwpvmr5/team-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>