<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac99cc6b-29c3-453a-b146-ee95c70f969e" Alias="team-brands.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamBrandssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:36:41</CreateDate>
    <NodeName Default="team-brands.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tfydwtwy/team-brands.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>