<?xml version="1.0" encoding="utf-8"?>
<Media Key="91a9549b-9bdd-40d6-a82d-5a44d7c4f362" Alias="tina-fox.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T13:47:17</CreateDate>
    <NodeName Default="tina-fox.svg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nhubw24g/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>