<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e3d7b2f-b26b-4a23-a41a-412e1f3556c0" Alias="Video.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Videosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T15:12:27</CreateDate>
    <NodeName Default="Video.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1xdj45dq/video.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>