@using System.Linq
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = "mainLayout.cshtml";

    var siteSettings = Umbraco.ContentAtRoot()
        .SelectMany(x => x.DescendantsOrSelf())
        .FirstOrDefault(x => x.ContentType.Alias == "siteSettings");


    var brands = siteSettings?.Value<BlockListModel>("globalBrands");
}


<partial name="Partials/Layout/_PageBanner" model="(IBanner)Model" />

<section>
  <div>

        @await Html.GetBlockListHtmlAsync(Model, "sectionConInfo")

  </div>

  <div>
    @await Html.GetBlockListHtmlAsync(Model, "nextProject")
  </div>

  <div>
    @if (brands?.Any() == true)
{
    @await Html.GetBlockListHtmlAsync(brands)
}
  </div>
</section>
