<?xml version="1.0" encoding="utf-8"?>
<Content Key="d371b13b-cfd2-4874-9ff6-f74e45519488" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="2e149fb3-fac5-4479-a229-3d738aaec3ef">Services</Parent>
    <Path>/Home/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceSubPage</ContentType>
    <CreateDate>2025-10-31T08:41:04</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7b63fca6-399f-4993-a91e-f2e4664686c9">serviceSubPage</Template>
  </Info>
  <Properties>
    <pageImage>
      <Value><![CDATA[[
  {
    "key": "6b672ee7-f663-4fef-ba70-30dcdbc69b9b",
    "mediaKey": "1819e4c2-bd7c-46f4-9680-989f702c4f33",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageImage>
    <questionsForm>
      <Value><![CDATA[]]></Value>
    </questionsForm>
    <sideWidgets>
      <Value><![CDATA[]]></Value>
    </sideWidgets>
    <subPageBody>
      <Value><![CDATA[]]></Value>
    </subPageBody>
    <subPageText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </subPageText>
    <title>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </title>
  </Properties>
</Content>