<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b86ab95-bf2b-4eed-a11d-581016e36d24" Alias="Contact" Level="2">
  <Info>
    <Parent Key="b16e537c-f8c0-416f-98f1-c81ccf1cf4d4">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2025-10-29T11:13:36</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="17bef2d4-5331-45bb-941d-2af54cf19fdc">ContactUs</Template>
  </Info>
  <Properties>
    <nextProject>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "89c65e25-0f0e-46f4-a8e4-fe30dd1c126b",
      "key": "8a3e1948-4ef3-425a-ac5b-0bfdf3170303",
      "udi": null,
      "values": [
        {
          "alias": "eyebrow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "intro",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        },
        {
          "alias": "bgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "935b6f70-86af-49ca-a6c0-0f7335730d57",
              "mediaKey": "a737854e-f2f1-4add-bcfe-3697a2d4cf56",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Submit"
        },
        {
          "alias": "recipientEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Email"
        },
        {
          "alias": "recipientName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Name"
        },
        {
          "alias": "recipientPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8a3e1948-4ef3-425a-ac5b-0bfdf3170303",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8a3e1948-4ef3-425a-ac5b-0bfdf3170303",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </nextProject>
    <sectionConInfo>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "97ea231c-2428-452b-8d4f-fd94fd6f2fd9",
      "key": "be78dad5-e121-43f4-804e-3d8a08c2dee1",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "officeLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "officeAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "phoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "phoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "emailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "email",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e5c65624-e0b2-467b-9251-610c84c1ae11",
              "mediaKey": "508143cc-4634-4856-a2ae-739bf7a29d17",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a4212bbd-90ce-4ecf-98ab-ba37fe4de548",
      "key": "2ff55142-900d-4e40-8c81-621bfcc25e76",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "be78dad5-e121-43f4-804e-3d8a08c2dee1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "be78dad5-e121-43f4-804e-3d8a08c2dee1",
        "contentUdi": null,
        "settingsKey": "2ff55142-900d-4e40-8c81-621bfcc25e76",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sectionConInfo>
    <title>
      <Value><![CDATA[Contact Us]]></Value>
    </title>
  </Properties>
</Content>