<?xml version="1.0" encoding="utf-8"?>
<Content Key="c70b9e4e-2a21-41ab-913c-4be35ed9a0b5" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="2e149fb3-fac5-4479-a229-3d738aaec3ef">Services</Parent>
    <Path>/Home/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceSubPage</ContentType>
    <CreateDate>2025-10-31T08:44:32</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7b63fca6-399f-4993-a91e-f2e4664686c9">serviceSubPage</Template>
  </Info>
  <Properties>
    <pageImage>
      <Value><![CDATA[[
  {
    "key": "74163b0c-036f-4666-b248-82f94e81cfc8",
    "mediaKey": "a4b79ffa-1f58-4794-85f5-e947f15e8a3a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageImage>
    <questionsForm>
      <Value><![CDATA[]]></Value>
    </questionsForm>
    <sideWidgets>
      <Value><![CDATA[]]></Value>
    </sideWidgets>
    <subPageBody>
      <Value><![CDATA[]]></Value>
    </subPageBody>
    <subPageText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </subPageText>
    <title>
      <Value><![CDATA[Financial Advisor]]></Value>
    </title>
  </Properties>
</Content>