<?xml version="1.0" encoding="utf-8"?>
<Content Key="b16e537c-f8c0-416f-98f1-c81ccf1cf4d4" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-10-29T10:08:06</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7961f3f7-1169-47e1-b040-e06c5c6f688a">Home</Template>
  </Info>
  <Properties>
    <sectionAboutInfo>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a97be9eb-cd96-426f-8fb3-9c09f74f0472",
      "key": "b955d57a-f8b8-4c9f-ba5c-915beef62b37",
      "udi": null,
      "values": [
        {
          "alias": "smallTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "bodyText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cem\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "signature",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "12a8e04d-31a2-4a3f-91a6-489178b85004",
              "mediaKey": "d42a38ab-20e7-4af3-afc4-a66636ac5156",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "personName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b955d57a-f8b8-4c9f-ba5c-915beef62b37",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b955d57a-f8b8-4c9f-ba5c-915beef62b37",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sectionAboutInfo>
    <sectionMainHero>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1a1666a5-edb3-4d47-8466-221d733deed9",
      "key": "abc94299-9dc7-41f7-a3b1-48265f263931",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "bodyText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "linkText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact us"
        },
        {
          "alias": "linkContact",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact",
              "target": null,
              "udi": "umb://document/9b86ab95bf2b4eeda11d581016e36d24",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "sideImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a7819384-38b5-4b2d-81d3-05e0f7f9764f",
              "mediaKey": "711e1f95-61f0-4e94-af9e-9fe0223844d9",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "abc94299-9dc7-41f7-a3b1-48265f263931",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "abc94299-9dc7-41f7-a3b1-48265f263931",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sectionMainHero>
    <sectionRequestCallback>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0eb2bbd7-d916-4ad4-afdc-545a4c98119b",
      "key": "c1c645a6-32dd-4563-8d81-fc053255ec12",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "bodyText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "namePlaceholder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Name"
        },
        {
          "alias": "emailPlaceholder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Email address"
        },
        {
          "alias": "phonePlaceholder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone"
        },
        {
          "alias": "submitText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Submit"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c1c645a6-32dd-4563-8d81-fc053255ec12",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c1c645a6-32dd-4563-8d81-fc053255ec12",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sectionRequestCallback>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <sectionSolutionHero>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3c248016-afbf-458d-a052-7abe6d203e1f",
      "key": "75d30579-38a5-486e-a24a-4688ff82a868",
      "udi": null,
      "values": [
        {
          "alias": "smallTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "solutionItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "7323ff86-f89b-4c75-931a-cb0d4d01b776",
                "key": "5ba52468-2d2e-4f3e-bba3-77791061f873",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "09247cb8-61a8-4c31-9b72-552ef0f4ef4d",
                        "mediaKey": "de283f96-6c92-4e67-abb8-dfed8d18c953",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "7323ff86-f89b-4c75-931a-cb0d4d01b776",
                "key": "a64c98f2-f6e6-4ea3-8de8-16c08023cdb2",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0c403f7b-99ce-426c-98ac-eb35ab84bec8",
                        "mediaKey": "1819e4c2-bd7c-46f4-9680-989f702c4f33",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "5ba52468-2d2e-4f3e-bba3-77791061f873",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a64c98f2-f6e6-4ea3-8de8-16c08023cdb2",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "5ba52468-2d2e-4f3e-bba3-77791061f873",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a64c98f2-f6e6-4ea3-8de8-16c08023cdb2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "2f5e46ce-826f-4344-9186-8366d627419a",
      "key": "8dcccb37-161e-4a3d-a0d8-492de9dd5ef9",
      "udi": null,
      "values": [
        {
          "alias": "toggle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "75d30579-38a5-486e-a24a-4688ff82a868",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "75d30579-38a5-486e-a24a-4688ff82a868",
        "contentUdi": null,
        "settingsKey": "8dcccb37-161e-4a3d-a0d8-492de9dd5ef9",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sectionSolutionHero>
    <successHero>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ba9ba7aa-384f-4540-8bde-35b8a5208431",
      "key": "f4117e48-6fac-4910-beac-6a68d0e6bd59",
      "udi": null,
      "values": [
        {
          "alias": "smallTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "stat1Number",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "689"
        },
        {
          "alias": "stat1Label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 100 customers has been served"
        },
        {
          "alias": "stat2Number",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "370"
        },
        {
          "alias": "stat2Label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 370 projects has been completed"
        },
        {
          "alias": "stat3Number",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "125"
        },
        {
          "alias": "stat3Label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 125 branches has been established in Europe and America"
        },
        {
          "alias": "bottomImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "20e9cf2c-43c7-4ae3-8da6-412c2adf1885",
              "mediaKey": "9e3d7b2f-b26b-4a23-a41a-412e1f3556c0",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "bgPattern",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b538d754-6d8a-42fd-89ae-a84757f9439f",
      "key": "43cc80fb-795f-4121-836f-5e39d6507a60",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "f4117e48-6fac-4910-beac-6a68d0e6bd59",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f4117e48-6fac-4910-beac-6a68d0e6bd59",
        "contentUdi": null,
        "settingsKey": "43cc80fb-795f-4121-836f-5e39d6507a60",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </successHero>
    <trustedHero>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "26b87586-7b56-4cfc-ae02-fe77605e627c",
      "key": "7aa6f14f-3e52-4e2d-8d6c-c82d7701e1cd",
      "udi": null,
      "values": [
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than"
        },
        {
          "alias": "highlightText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4.000\u002B clients"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed."
        },
        {
          "alias": "buttonLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact",
              "target": null,
              "udi": "umb://document/9b86ab95bf2b4eeda11d581016e36d24",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Read our story"
        },
        {
          "alias": "heroImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "47bf8a7d-95ad-4b47-b164-b8c5f736d0e2",
              "mediaKey": "cfb4b576-1cc6-4e37-bd9b-94ede98c2696",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7aa6f14f-3e52-4e2d-8d6c-c82d7701e1cd",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7aa6f14f-3e52-4e2d-8d6c-c82d7701e1cd",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </trustedHero>
  </Properties>
</Content>