<?xml version="1.0" encoding="utf-8"?>
<Content Key="b82c5e5b-be6b-406d-a0fd-8ac42d6224ba" Alias="Projects" Level="2">
  <Info>
    <Parent Key="b16e537c-f8c0-416f-98f1-c81ccf1cf4d4">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2025-10-31T14:02:27</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="669a7c12-22e1-4f00-87b8-df8d02ecde8f">Projects</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Projects]]></Value>
    </title>
  </Properties>
</Content>