<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e149fb3-fac5-4479-a229-3d738aaec3ef" Alias="Services" Level="2">
  <Info>
    <Parent Key="b16e537c-f8c0-416f-98f1-c81ccf1cf4d4">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2025-10-31T08:33:15</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d80e82b-5935-4aed-8dd7-47888df7030e">Service</Template>
  </Info>
  <Properties>
    <solutionHero>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3c248016-afbf-458d-a052-7abe6d203e1f",
      "key": "8a8d173f-0a6e-4567-a6f2-bd1b73ca5ded",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "solutionItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "7323ff86-f89b-4c75-931a-cb0d4d01b776",
                "key": "8fa56b7f-e8fa-4906-9651-0a9f1bd8d063",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c2dd418c-ea24-4c22-9964-8b64f9536b2d",
                        "mediaKey": "de283f96-6c92-4e67-abb8-dfed8d18c953",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "7323ff86-f89b-4c75-931a-cb0d4d01b776",
                "key": "f02f4f1f-d164-4421-b992-aeec2cecdd05",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "045a7110-6322-421f-b0d9-a72f7b18b4bf",
                        "mediaKey": "1819e4c2-bd7c-46f4-9680-989f702c4f33",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "7323ff86-f89b-4c75-931a-cb0d4d01b776",
                "key": "3319eef2-e30a-4674-842c-ccf76965b93d",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a89f02b6-cc46-4b83-bdee-58870b253085",
                        "mediaKey": "69d4218d-bff9-4274-949d-b026fa8c2c85",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "7323ff86-f89b-4c75-931a-cb0d4d01b776",
                "key": "af11a169-6318-49d4-9c1b-2c01f1cd1637",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "70784f96-0bfb-470e-8dad-31d104b7cbdf",
                        "mediaKey": "3ff34caf-2266-42b6-a7d8-f73dea638e81",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "7323ff86-f89b-4c75-931a-cb0d4d01b776",
                "key": "b51e1ba7-1888-4650-ac66-017421aeb998",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a55667b9-5842-426f-b228-673e4f54ca61",
                        "mediaKey": "a4b79ffa-1f58-4794-85f5-e947f15e8a3a",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "7323ff86-f89b-4c75-931a-cb0d4d01b776",
                "key": "3926b06d-ecca-4613-8678-f4fa27f58ad1",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c894a2f9-e236-436a-8349-38ab045f7654",
                        "mediaKey": "8e04819b-4ec6-4b24-ac10-5f8b36199997",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "8fa56b7f-e8fa-4906-9651-0a9f1bd8d063",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f02f4f1f-d164-4421-b992-aeec2cecdd05",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3319eef2-e30a-4674-842c-ccf76965b93d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "af11a169-6318-49d4-9c1b-2c01f1cd1637",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b51e1ba7-1888-4650-ac66-017421aeb998",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3926b06d-ecca-4613-8678-f4fa27f58ad1",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "8fa56b7f-e8fa-4906-9651-0a9f1bd8d063",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f02f4f1f-d164-4421-b992-aeec2cecdd05",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3319eef2-e30a-4674-842c-ccf76965b93d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "af11a169-6318-49d4-9c1b-2c01f1cd1637",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b51e1ba7-1888-4650-ac66-017421aeb998",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3926b06d-ecca-4613-8678-f4fa27f58ad1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "2f5e46ce-826f-4344-9186-8366d627419a",
      "key": "77cd6f14-7a6a-41f8-a905-6f796d08a147",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "toggle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8a8d173f-0a6e-4567-a6f2-bd1b73ca5ded",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8a8d173f-0a6e-4567-a6f2-bd1b73ca5ded",
        "contentUdi": null,
        "settingsKey": "77cd6f14-7a6a-41f8-a905-6f796d08a147",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </solutionHero>
    <title>
      <Value><![CDATA[Our Services]]></Value>
    </title>
  </Properties>
</Content>