<?xml version="1.0" encoding="utf-8"?>
<Content Key="cdf517e2-ed71-40fe-ba3c-9e76dc361bc7" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-31T14:52:47</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <globalBrands>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "09aa6422-b425-48ec-8d68-8edb26526872",
      "key": "5e1dc4d5-b621-42bb-9178-d00c3528128f",
      "udi": null,
      "values": [
        {
          "alias": "brandOne",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d164511e-ccd2-4a19-bda9-d56b59805b3f",
              "mediaKey": "58cd390f-5f45-48ce-9ebd-d6bfc260429d",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "brandTwo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "27f888f8-1060-41f0-bea4-896671cd15eb",
              "mediaKey": "613d415b-beda-44bf-9ee5-ff4bacaebd08",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "brandThree",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ff6d1f4f-3a21-4b8d-badc-1cd1c27f6c22",
              "mediaKey": "b6fc4d27-1a1a-47ec-b8ee-c75822454587",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "brandFour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5063975b-8520-458d-badd-e490908d1284",
              "mediaKey": "728cb4fe-55d8-40b7-be13-5e68ba8451ae",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "brandFive",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c344fc3f-26ea-41f4-8165-8884af806c46",
              "mediaKey": "23ba4088-bde4-4387-8245-7f27fca269d2",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "brandSix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "95b03c8e-225d-4889-a19b-171c1ed2f267",
              "mediaKey": "b7fbe8bd-0c58-4112-98cb-e0a0b6b6c61b",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5e1dc4d5-b621-42bb-9178-d00c3528128f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5e1dc4d5-b621-42bb-9178-d00c3528128f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </globalBrands>
    <globalContactHero>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "97ea231c-2428-452b-8d4f-fd94fd6f2fd9",
      "key": "5e3881e7-64ab-457d-89b7-b7994e5070c6",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "officeLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "officeAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "phoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "phoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "emailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "email",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "815078ca-172f-4490-b485-93ef306f1979",
              "mediaKey": "508143cc-4634-4856-a2ae-739bf7a29d17",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a4212bbd-90ce-4ecf-98ab-ba37fe4de548",
      "key": "f23e7175-e015-4889-822c-99b0c78e5e39",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-10",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "5e3881e7-64ab-457d-89b7-b7994e5070c6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5e3881e7-64ab-457d-89b7-b7994e5070c6",
        "contentUdi": null,
        "settingsKey": "f23e7175-e015-4889-822c-99b0c78e5e39",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </globalContactHero>
  </Properties>
</Content>