<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0a7ed2b-ec52-4773-bbb5-c29d1237a49b" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="2e149fb3-fac5-4479-a229-3d738aaec3ef">Services</Parent>
    <Path>/Home/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceSubPage</ContentType>
    <CreateDate>2025-10-31T08:44:15</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7b63fca6-399f-4993-a91e-f2e4664686c9">serviceSubPage</Template>
  </Info>
  <Properties>
    <pageImage>
      <Value><![CDATA[[
  {
    "key": "458b7103-592d-4a1c-a760-785f1c4ae04b",
    "mediaKey": "3ff34caf-2266-42b6-a7d8-f73dea638e81",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageImage>
    <questionsForm>
      <Value><![CDATA[]]></Value>
    </questionsForm>
    <sideWidgets>
      <Value><![CDATA[]]></Value>
    </sideWidgets>
    <subPageBody>
      <Value><![CDATA[]]></Value>
    </subPageBody>
    <subPageText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </subPageText>
    <title>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </title>
  </Properties>
</Content>