<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0bd4a51b-110c-40ed-ace4-6758defd715a" Alias="Contact Hero - Office Address - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Contact Hero - Office Address - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>