<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c150ed6a-eefc-4494-a7a0-252929cfb21c" Alias="Sections" Level="1">
  <Info>
    <Name>Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3c248016-afbf-458d-a052-7abe6d203e1f",
      "settingsElementTypeKey": "2f5e46ce-826f-4344-9186-8366d627419a"
    },
    {
      "contentElementTypeKey": "de8dd348-e58c-4742-a68d-06afa5711ac6",
      "settingsElementTypeKey": "6a87b971-1434-4f23-ae4d-da93578cbe77"
    },
    {
      "contentElementTypeKey": "97ea231c-2428-452b-8d4f-fd94fd6f2fd9",
      "settingsElementTypeKey": "a4212bbd-90ce-4ecf-98ab-ba37fe4de548"
    },
    {
      "contentElementTypeKey": "7323ff86-f89b-4c75-931a-cb0d4d01b776"
    },
    {
      "contentElementTypeKey": "26b87586-7b56-4cfc-ae02-fe77605e627c"
    },
    {
      "contentElementTypeKey": "ba9ba7aa-384f-4540-8bde-35b8a5208431",
      "settingsElementTypeKey": "b538d754-6d8a-42fd-89ae-a84757f9439f"
    },
    {
      "contentElementTypeKey": "2e505182-ba0a-4f38-ad8f-4f4a192f9b1c"
    },
    {
      "contentElementTypeKey": "89c65e25-0f0e-46f4-a8e4-fe30dd1c126b"
    },
    {
      "contentElementTypeKey": "09aa6422-b425-48ec-8d68-8edb26526872"
    },
    {
      "contentElementTypeKey": "b74015f8-0db0-414f-8fbd-32594034784f"
    },
    {
      "contentElementTypeKey": "c232734a-0d04-46bb-9278-f3e1c16793bc"
    },
    {
      "contentElementTypeKey": "3b89bc82-56fa-4128-b51c-32fed3a094de"
    },
    {
      "contentElementTypeKey": "1a1666a5-edb3-4d47-8466-221d733deed9"
    },
    {
      "contentElementTypeKey": "a97be9eb-cd96-426f-8fb3-9c09f74f0472"
    },
    {
      "contentElementTypeKey": "0eb2bbd7-d916-4ad4-afdc-545a4c98119b"
    }
  ]
}]]></Config>
</DataType>