<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c7971bc3-ac55-414c-af90-050c44279fee" Alias="Service - SideSupprt - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service - SideSupprt - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "75ef1c11-230f-4039-bdd4-9a24e0417b46"
    },
    {
      "contentElementTypeKey": "8bae0523-a4fb-445e-890a-db22b81d04b5"
    }
  ]
}]]></Config>
</DataType>