<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd6d6769-c0be-445b-acc4-01d634fbc208" Alias="about" Level="2">
  <Info>
    <Name>About</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="74cdffb0-ac1a-4d51-954b-6d2f99f0d20c">banner</Composition>
    </Compositions>
    <DefaultTemplate>About</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f36072e5-e8b7-4aab-92c0-b0460e605745">About</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>63339603-0826-4325-a877-f4831bde0490</Key>
      <Name>sectionBigNames</Name>
      <Alias>sectionBigNames</Alias>
      <Definition>c150ed6a-eefc-4494-a7a0-252929cfb21c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b18bc341-6fb2-46ae-8048-93368a61d86f</Key>
      <Name>sectionTeamMembers</Name>
      <Alias>sectionTeamMembers</Alias>
      <Definition>c150ed6a-eefc-4494-a7a0-252929cfb21c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ae63568-77a8-4925-915a-43ff33447ed4</Key>
      <Name>sectionTestamonial</Name>
      <Alias>sectionTestamonial</Alias>
      <Definition>c150ed6a-eefc-4494-a7a0-252929cfb21c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7fcc8f3c-4c34-4c0c-b041-e604f69ea515</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>