<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="377dc126-9997-42a3-a991-8c78b4c7dd89" Alias="contactUs" Level="2">
  <Info>
    <Name>Contact Us</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="74cdffb0-ac1a-4d51-954b-6d2f99f0d20c">banner</Composition>
    </Compositions>
    <DefaultTemplate>ContactUs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="17bef2d4-5331-45bb-941d-2af54cf19fdc">ContactUs</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f2bcfe8f-3fc1-4246-a5f3-fd09f4983021</Key>
      <Name>nextProject</Name>
      <Alias>nextProject</Alias>
      <Definition>c150ed6a-eefc-4494-a7a0-252929cfb21c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6f0fe454-bf2d-46f7-ab1a-74940375957b</Key>
      <Name>Section Contact Info</Name>
      <Alias>sectionConInfo</Alias>
      <Definition>c150ed6a-eefc-4494-a7a0-252929cfb21c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d02092af-8090-458f-9906-45f7fb2e8ea9</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>