<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2ed13d14-fcd5-4676-b877-8fb5b35ef801" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7961f3f7-1169-47e1-b040-e06c5c6f688a">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="dd6d6769-c0be-445b-acc4-01d634fbc208" SortOrder="0">about</ContentType>
    <ContentType Key="69b6362a-a06e-4278-843e-f802bd429f97" SortOrder="1">service</ContentType>
    <ContentType Key="120a9cfa-ac1e-4a4a-843f-f18eb619a845" SortOrder="2">projects</ContentType>
    <ContentType Key="377dc126-9997-42a3-a991-8c78b4c7dd89" SortOrder="3">contactUs</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>588d58fe-1c8a-4b7a-9621-f147a3990246</Key>
      <Name>sectionAboutInfo</Name>
      <Alias>sectionAboutInfo</Alias>
      <Definition>c150ed6a-eefc-4494-a7a0-252929cfb21c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f4036c25-529a-43f3-a5ed-c834d217773c</Key>
      <Name>sectionMainHero</Name>
      <Alias>sectionMainHero</Alias>
      <Definition>c150ed6a-eefc-4494-a7a0-252929cfb21c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>50048285-4d22-4fa0-9f17-fc7853a1f3f9</Key>
      <Name>sectionRequestCallback</Name>
      <Alias>sectionRequestCallback</Alias>
      <Definition>c150ed6a-eefc-4494-a7a0-252929cfb21c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a709853f-bec9-41f7-8b6c-9e737bd250cf</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>c150ed6a-eefc-4494-a7a0-252929cfb21c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f95b4e4c-cb45-4419-98dd-064d09ed0b97</Key>
      <Name>SectionSolutionHero</Name>
      <Alias>sectionSolutionHero</Alias>
      <Definition>c150ed6a-eefc-4494-a7a0-252929cfb21c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1c064848-fd99-4836-96ad-a62a629f3ff2</Key>
      <Name>successHero</Name>
      <Alias>successHero</Alias>
      <Definition>c150ed6a-eefc-4494-a7a0-252929cfb21c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5291b452-6179-4960-b4cf-151e4bb0d9d6</Key>
      <Name>trustedHero</Name>
      <Alias>trustedHero</Alias>
      <Definition>c150ed6a-eefc-4494-a7a0-252929cfb21c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e89b9bdf-3a5a-44a5-ae14-5a2cd8e41b28</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>