<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="120a9cfa-ac1e-4a4a-843f-f18eb619a845" Alias="projects" Level="2">
  <Info>
    <Name>Projects</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="74cdffb0-ac1a-4d51-954b-6d2f99f0d20c">banner</Composition>
    </Compositions>
    <DefaultTemplate>Projects</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="669a7c12-22e1-4f00-87b8-df8d02ecde8f">Projects</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>