<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="69b6362a-a06e-4278-843e-f802bd429f97" Alias="service" Level="2">
  <Info>
    <Name>Services</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="74cdffb0-ac1a-4d51-954b-6d2f99f0d20c">banner</Composition>
    </Compositions>
    <DefaultTemplate>Service</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5d80e82b-5935-4aed-8dd7-47888df7030e">Service</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="095f1289-e6b0-489f-9cb9-89d5ffda472f" SortOrder="0">serviceSubPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>79c44ae1-e481-4ecf-80e9-b2cdd9b4d87f</Key>
      <Name>solutionHero</Name>
      <Alias>solutionHero</Alias>
      <Definition>c150ed6a-eefc-4494-a7a0-252929cfb21c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c1048904-de48-404d-b413-372bb71f1cb5</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>